<% layout('layout') -%>

<form action="/search<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">
    <input type="text" name="q" value="">
    <input type="submit" value="Search">
</form>

<hr>

<h2 id="title">
    <% if(docs.total_results_size > 0) { %>
        <%= docs.total_results_size %> documents
    <% } else { %>
        No documents found
    <% } %>
</h2>

<ul id="list">
    <% for(var i=0; i<docs.results.length; i++) { %>
        <li>
            <a href="<%= ctx.linkResolver(ctx, docs.results[i]) %>">
                <%= docs.results[i].slug %>
            </a>
        </li>
    <% } %>
</ul>

<hr>

<% if (docs.total_pages > 1) { %>
    <ul>
        <% if (docs.page > 1) { %>
            <li>
                <a href="/?page=<%= docs.page - 1 %>">previous page</a>
            </li>
        <% } %>
        <% for (var i = 1; i<=docs.total_pages; i++) { %>
            <li>
                <% if (docs.page == i) { %>
                    <span><%= i %></span>
                <% } else { %>
                    <a href="/?page=<%= i %>"><%= i %></a>
                <% } %>
            </li>
        <% } %>
        <% if (docs.page != docs.total_pages) { %>
            <li>
                <a href="/?page=<%= docs.total_pages %>">next page</a>
            </li>
        <% } %>
    </ul>
<% } %>